<section class="about" id="about">
    <div class="row">
        <div class="col50">
            <h2 class="titletext"><span>O</span>ur Story</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt distinctio 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos numquam temporibus optio?
                 Error commodi quis totam beatae doloribus? Ullam facere quidem quaerat aliquam omnis nesciunt
                  iste id dolor animi architecto.<br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis totam eveniet ducimus quos nihil sunt impedit possimus, rerum natus quod enim inventore cumque,
                   exercitationem odio perferendis corrupti. Nostrum, neque quam.
                 corrupti dicta est autem obcaecati animi eum sit rerum aspernatur?
                </p>
        </div>
        <div class="col50">
            <div class="imgBx">
                <img src="../../../assets/images/os2.png" alt="">
            </div>
        </div>
    </div>
</section>